{% extends 'base.html'%}

{% block main_head %}

{% endblock main_head %}

{% block body %}
{% load crispy_forms_tags %}

<div class="row my-5">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    {% if otp %}
        <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom display">
                <h3 class="float-left">Verify Your Email</h3>

            </legend>
            <input type="hidden" name="usr" value="{{usr.username}}">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">OTP</span>
                </div>
                <input type="text" class="form-control" placeholder="Enter Your OTP" aria-label="OTP" aria-describedby="basic-addon1" name = 'otp'>
            </div>
            
        </fieldset>
        <div class="form-grounp">
            <button class="btn mainbtn" type="submit">Verify</button>
            <small class="float-right text-muted"><i><a href="#" class="text-dark" 
                onclick="ReSendOTP('{{usr.username}}', 'resendOTPmess')"><i id="resendOTPmess">Resend</i> OTP</a></small>

        </div>

    </form>
    {% else %}              
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom display">
                <h3 class="float-left">Login</h3>

            </legend>

            {{ form|crispy }}
        </fieldset>
        <div class="form-group my-3">
            <button type="submit" class="btn btn-primary">Log In</button>
            <small class="float-right text-muted"><a href="{% url 'password_reset' %}" class="text-dark"> Forgotten Password?</a></small>
            <hr>
            <small class="float-right text-muted">Not Joined Yet?<a href="{% url 'signup' %}" class="text-dark"> Join Now</a></small>

        </div>

    </form>
    {% endif %}
        <br>
    </div>
    <div class="col-md">
    </div>
</div>
   

{% endblock body %}