{% extends 'base.html'%}


{% block body %}
{% load crispy_forms_tags %}

<div class="container">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group mt-5">
                    <legend class="border-bottom mb-4">Log In</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group my-3">
                    <button type="submit" class="btn btn-primary">Log In</button>
                    <small class="float-right text-muted"><a href="{% url 'password_reset' %}" class="text-dark"> Forgotten Password?</a></small>
                    <hr>
                    <small class="float-right text-muted">Not Joined Yet?<a href="{% url 'signup' %}" class="text-dark"> Join Now</a></small>

                </div>

            </form>
        </div>
        <div class="col-md">
        </div>
    </div>
   

{% endblock body %}