{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                {% if otp %}
                <form method="POST">
                {% csrf_token %}
                    <fieldset class="form-group mt-5">
                        <legend class="border-bottom display">
                            <h3 class="float-left">Verify Your Email</h3>
                        </legend>

                        <input type="hidden" name="usr" value="{{usr.username}}">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">OTP</span>
                            </div>
                            <input type="text" class="form-control" placeholder="Enter Your OTP" aria-label="OTP" aria-describedby="basic-addon1" name = 'otp'>
                        </div>
                        
                    </fieldset>
                    <div class="form-grounp">
                        <button class="btn btn-primary" type="submit">Verify</button>
                        <small class="float-right text-muted"><i><a href="#" class="text-dark" 
                            onclick="ReSendOTP('{{usr.username}}', 'resendOTPmess')"><i id="resendOTPmess">Resend</i> OTP</a></small>
                    </div>
                </form>


                {% else %}
                <form action="" method="POST">
                {% csrf_token %}
                    <fieldset class="form-group mt-4">
                        <legend class="border-bottom mb-4">Create Account</legend>
                        {{ form|crispy }}
                    </fieldset>
                    <div class="form-group" id="signup-button">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                    <div class="form-group">
                        <small class="text-muted ml-3" >Already have an account? <a href="{% url 'login' %}">Log In</a></small>
                    </div>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock body %}